absl-py==1.4.0
astunparse==1.6.3
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
flask
Flask-Cors
flatbuffers==23.5.26
gast==0.4.0
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==0.4.1
google-cloud-core==2.3.3
google-cloud-secret-manager==2.16.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
grpc-google-iam-v1==0.12.6
grpcio==1.57.0
grpcio-status==1.57.0
gunicorn==21.2.0
h5py
idna==3.4
importlib-metadata
itsdangerous==2.1.2
jax
Jinja2==3.1.2
joblib==1.3.2
keras
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
ml-dtypes==0.2.0
numpy
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
pandas
proto-plus==1.22.3
protobuf==4.24.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn
scipy
six==1.16.0
tensorboard
tensorboard-data-server
tensorflow==2.7
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor==2.3.0
threadpoolctl
typing-extensions==4.5.0
tzdata==2023.3
urllib3==1.26.16
waitress==2.1.2
werkzeug
wrapt==1.14.1
zipp
